<footer class="photo-footer">
  <span>{{#_microfeed.copyright}}{{_microfeed.copyright}}{{/_microfeed.copyright}}{{^_microfeed.copyright}}© {{current_year}} {{title}}{{/_microfeed.copyright}}</span>
  <span>Published with <a href="https://www.microfeed.org/">microfeed</a></span>
</footer>
