<footer class="blog-footer">
  <strong>{{title}}</strong>
  <span>{{#_microfeed.copyright}}{{_microfeed.copyright}}{{/_microfeed.copyright}}{{^_microfeed.copyright}}© {{current_year}}{{/_microfeed.copyright}}</span>
  <span>Made with <a href="https://www.microfeed.org/">microfeed</a></span>
</footer>
