<footer class="dig-footer"><p>{{#_microfeed.copyright}}{{_microfeed.copyright}}{{/_microfeed.copyright}}{{^_microfeed.copyright}}© {{current_year}} {{title}}{{/_microfeed.copyright}}</p><p>A small, annotated internet · <a href="https://www.microfeed.org/">Powered by microfeed</a></p></footer>
