<footer class="mf-site-footer">
  <span class="mf-footer-title">{{title}}</span>
  <span class="mf-footer-copyright">
    {{#_microfeed.copyright}}
    {{_microfeed.copyright}}
    {{/_microfeed.copyright}}
    {{^_microfeed.copyright}}
    © {{_microfeed.publisher}}
    {{/_microfeed.copyright}}
  </span>
</footer>
