<footer class="mf-site-footer">
  {{#_microfeed.copyright}}
  {{_microfeed.copyright}}
  {{/_microfeed.copyright}}
  {{^_microfeed.copyright}}
  © {{_microfeed.publisher}}
  {{/_microfeed.copyright}}
</footer>
