<footer class="text-sm border-t text-center mb-4">
  <div class="mt-4">
    {{#_microfeed.copyright}}
    {{_microfeed.copyright}}
    {{/_microfeed.copyright}}
    {{^_microfeed.copyright}}
    © {{_microfeed.publisher}}
    {{/_microfeed.copyright}}
  </div>
  <div>
    Powered by <a href="https://www.microfeed.org/" class="mf-footer-link">microfeed</a>
    (a <a class="mf-footer-link" href="https://www.listennotes.com/">Listen Notes</a> project)
  </div>
</footer>
