<meta name="color-scheme" content="light dark">
<script>try{document.documentElement.dataset.theme=localStorage.getItem("microfeed-color-mode")||((matchMedia("(prefers-color-scheme: dark)").matches)?"dark":"light")}catch{}</script>
