<main>
  <!-- microfeed:site-nav -->
  <section class="mf-back-link">
    <a href="/">
      <div class="icon-arrow-left">{{title}}</div>
    </a>
  </section>
  <article class="mf-page">
    <h1>{{page.title}}</h1>
    <div>{{{page.content_html}}}</div>
  </article>
</main>
