<footer class="text-sm border-t text-center mb-4">
  <div class="mt-4">
    {{#_microfeed.copyright}}
    {{_microfeed.copyright}}
    {{/_microfeed.copyright}}
    {{^_microfeed.copyright}}
    © {{_microfeed.publisher}}
    {{/_microfeed.copyright}}
  </div>
</footer>
