<footer class="vid-footer"><div>{{#_microfeed.copyright}}{{_microfeed.copyright}}{{/_microfeed.copyright}}{{^_microfeed.copyright}}© {{current_year}} {{title}}{{/_microfeed.copyright}}</div><div>Independent video, published with <a href="https://www.microfeed.org/">microfeed</a></div></footer>
